{% extends 'common_html/base.html' %}
{% block content %}

{% load static %}
<div style="background-color:#e1eaf7" >
<div class="row d-flex justify-content-center ">
    <div class="col-3 pt-5 mt-5 mb-5 pb-5">
        <div class="card">
            <h5 align="center" class="text-center text-secondary mt-4" >Change Password</h5>
            <div class="card-body m-2">
                <form id="id_password_change_form" method="POST" class="form-signin">
                    {% csrf_token %}

                    {{form.as_table}}
                    {{form.}}
                    <button id="id_submit_btn" class="btn btn-primary mt-2" type="submit">Update</button>
                </form>
            </div>
        </div>

    </div>
</div>
</div>




{% endblock %}