{% extends 'common_html/base.html' %}
{% block content %}

{% load static %}



<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Reset Password</h2>
    <hr>
    <p>Forgot your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form class="form" method="POST">
        {% csrf_token %}
        <div class="form_field">
            {{form.as_p}}
        </div>

        <button class="btn btn-primary btn-sm" type="submit">Send email</button>
    </form>
</div>


{% endblock %}