{% extends 'common_html/base.html' %}

{% block content %}

{% load static %}


<!-- search -->
<div class="search-div  bg-primary" style="background-image: url({% static 'home/images/h1_hero.jpg' %} );">
        <div class="container ">
            <div class="row">
                <div class="col-lg-9 col-md-12 ">
                        <div class="caption ">
                            <div class="hero__caption">
                                <h1 class="text-center">Finding the best jobs for You</h1>
                            </div>
                        </div>
                    <!-- Search Box -->
                        <form action="">
                            <div class="search row d-flex justify-content-center">
                                <div class="inpt col-lg-8 col-md-12 col-sm-12">
                                    <input type="text" class="searchbar form-control col-6" placeholder="Job Tittle or keyword ">
                                </div>
                                <div class="inpt col-lg-3 col-md-12 col-sm-12">
                                    <button type="submit" class="searchbar-2 form-control btn btn-primary">Search
                                        <i class="fa fa-search "></i>
                                    </button>
                                </div>

                            </div>
                        </form>
                </div>
                <div class="col-lg-3 noneed "></div>
            </div>


    </div>
</div>
<!-- recentlt posted -->
<div class="recentjobs container bg-white " >
    <h4 class="text-center">RECENTLY POSTED</h4>
    <hr>
    <div class=" row d-flex justify-content-center">

        <div class="div col-9 mt-2 mb-2"><!-- job card -->

            <div class="card job-card">
                <div class="card-body">
                   <div class="row">
                            <div class="col-lg-2 col-md-6">
                                   <a href=""> <img class="mt-2 company_logo" width="100" src="{% static 'home/images/company_logo.jpg' %}" alt=""> </a>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="card-left mt-2">
                                    <h5>Software Developer </h5>
                                    <p>Free Bird Technologies</p>
                                    <p> <i class="fa-solid fa-location-dot"></i> Kochi,Kerala </p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 ">

                                <div class=" right-details mt-6">
                                    <p><i class="fa-regular fa-clock"></i> Full Time </p>
                                    <p><i class="fa-solid fa-briefcase">  </i> Experience - 4 yrs</p>
                                    <p><i class="fa-solid fa-building"></i> Work From Home</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 ">
                                <button class=" viewbtn "> View Details <i class="fa-solid fa-angle-right"> </i> </button>
                           </div>

                   </div>
                </div>
            </div>
        </div><!-- job card end-->
        <div class="div col-9 mt-2 mb-2"><!-- job card -->

            <div class="card job-card">
                <div class="card-body">
                   <div class="row">
                            <div class="col-lg-2 col-md-6">
                                   <a href=""> <img class="mt-2 company_logo" width="100" src="{% static 'home/images/company_logo.jpg' %}" alt=""> </a>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="card-left mt-2">
                                    <h5>Software Developer </h5>
                                    <p>Free Bird Technologies</p>
                                    <p> <i class="fa-solid fa-location-dot"></i> Kochi,Kerala </p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 ">

                                <div class=" right-details mt-6">
                                    <p><i class="fa-regular fa-clock"></i> Full Time </p>
                                    <p><i class="fa-solid fa-briefcase">  </i> Experience - 4 yrs</p>
                                    <p><i class="fa-solid fa-building"></i> Work From Home</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 ">
                                <button class=" viewbtn "> View Details <i class="fa-solid fa-angle-right"> </i> </button>
                           </div>

                   </div>
                </div>
            </div>
        </div><!-- job card end-->
        <div class="div col-9 mt-2 mb-2"><!-- job card -->

            <div class="card job-card">
                <div class="card-body">
                   <div class="row">
                            <div class="col-lg-2 col-md-6">
                                   <a href=""> <img class="mt-2 company_logo" width="100" src="{% static 'home/images/company_logo.jpg' %}" alt=""> </a>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="card-left mt-2">
                                    <h5>Software Developer </h5>
                                    <p>Free Bird Technologies</p>
                                    <p> <i class="fa-solid fa-location-dot"></i> Kochi,Kerala </p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 ">

                                <div class=" right-details mt-6">
                                    <p><i class="fa-regular fa-clock"></i> Full Time </p>
                                    <p><i class="fa-solid fa-briefcase">  </i> Experience - 4 yrs</p>
                                    <p><i class="fa-solid fa-building"></i> Work From Home</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 ">
                                <button class=" viewbtn "> View Details <i class="fa-solid fa-angle-right"> </i> </button>
                           </div>

                   </div>
                </div>
            </div>
        </div><!-- job card end-->
        <div class="div col-9 mt-2 mb-2"><!-- job card -->

            <div class="card job-card">
                <div class="card-body">
                   <div class="row">
                            <div class="col-lg-2 col-md-6">
                                   <a href=""> <img class="mt-2 company_logo" width="100" src="{% static 'home/images/company_logo.jpg' %}" alt=""> </a>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="card-left mt-2">
                                    <h5>Software Developer </h5>
                                    <p>Free Bird Technologies</p>
                                    <p> <i class="fa-solid fa-location-dot"></i> Kochi,Kerala </p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 ">

                                <div class=" right-details mt-6">
                                    <p><i class="fa-regular fa-clock"></i> Full Time </p>
                                    <p><i class="fa-solid fa-briefcase">  </i> Experience - 4 yrs</p>
                                    <p><i class="fa-solid fa-building"></i> Work From Home</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 ">
                                <button class=" viewbtn "> View Details <i class="fa-solid fa-angle-right"> </i> </button>
                           </div>

                   </div>
                </div>
            </div>
        </div><!-- job card end-->
        <div class="div col-9 mt-2 mb-2"><!-- job card -->

            <div class="card job-card">
                <div class="card-body">
                   <div class="row">
                            <div class="col-lg-2 col-md-6">
                                   <a href=""> <img class="mt-2 company_logo" width="100" src="{% static 'home/images/company_logo.jpg' %}" alt=""> </a>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="card-left mt-2">
                                    <h5>Software Developer </h5>
                                    <p>Free Bird Technologies</p>
                                    <p> <i class="fa-solid fa-location-dot"></i> Kochi,Kerala </p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 ">

                                <div class=" right-details mt-6">
                                    <p><i class="fa-regular fa-clock"></i> Full Time </p>
                                    <p><i class="fa-solid fa-briefcase">  </i> Experience - 4 yrs</p>
                                    <p><i class="fa-solid fa-building"></i> Work From Home</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 ">
                                <button class=" viewbtn "> View Details <i class="fa-solid fa-angle-right"> </i> </button>
                           </div>

                   </div>
                </div>
            </div>
        </div><!-- job card end-->





    </div>

</div>
<!-- recently posted end -->
<div class="m-4" style="text-align: center;" >
    <button class="viewall text-center"> View All Jobs</button>
</div>


{% endblock %}
