{% extends 'common_html/base.html' %}

{% block content %}
<div style="background-color:#F1F1F1">


    <div class="container" style="padding:100px;">
        <div class="row">
            <div class="card">

                <img src={{job.company.company_logo.url}} class="rounded mx-auto d-block" width="200" height="200"
                     alt="...">
                <div class="card-body">
                    <h2 class="card-title">{{job.company}}</h2>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">

                        <h3>{{job.position}}</h3></li>
                    <li class="list-group-item">
                        <h5>Salary:</h5>
                        {{job.min_salary}}-{{job.max_salary}}
                    </li>
                    <li class="list-group-item">
                        <h5>Whats Your Role ?</h5>
                        {{job.job_description}}
                    </li>

                    <li class="list-group-item">{{job.job_type}}</li>
                    <li class="list-group-item">{{job.min_qualification}}</li>
                    <li class="list-group-item">
                        <h5>Experience:</h5>
                        {{job.min_experience}} to {% if job.max_experience %} {{job.max_experience}} {%else%} 15+ {%endif%}
                    </li>
                    <li class="list-group-item">
                        <h5>Skills:</h5>
                        {{job.skills}}
                    </li>
                    <li class="list-group-item">{{job.categories}}</li>
                    <li class="list-group-item">{{job.work_type}}</li>
                    <li class="list-group-item">{{job.published_date}}</li>
                    <li class="list-group-item">{{job.application_end_date}}</li>

                </ul>
                <div style="display:flex;">
                    <button class="side-btn2 " onclick="history.back()">
                        Back <i class="fa-solid fa-angle-right"> </i></button>
                    {% if request.user.is_authenticated %}
                        {%if request.user.role == 1 %}

                        <button class="side-btn2 " onclick="window.location.href = ''">
                            Apply <i class="fa-solid fa-angle-right"> </i></button>
                        {% else%}
                        {% endif%}
                    {%else%}
                        <button class="side-btn2 " onclick="window.location.href = '{%url 'login'%}'">
                            Apply <i class="fa-solid fa-angle-right"> </i></button>
                    {%endif%}
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}