{% extends 'common_html/base.html' %}

{% block content %}

{% load static %}


<!-- bg Area Start-->

<div class="bg-overlay-text" style="">
    <div class="container ">
        <div class="row">
            <div class="col-xl-12">
                <div class="  text-center">
                    <h2 class="img-cap ">Search for your dream job</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Hero Area End -->

<!-- search area -->
<div class="search-bg  ">
                <div class="p-2  ">
                        <form action="{% url 'search' %}" class="" method="get">
                                <div class="row d-flex justify-content-center">

                                        <div class="col-6">
                                              <input style="border-radius:0% ;height:60px;" aria-label="Search" class="form-control form" name="keyword" placeholder="Search JobHub" type="search">
                                        </div>

                                        <div class="col-1">
                                            <button style="border-radius:0%;height:60px;width:200px;" class="btn btn-outline-primary" type="submit">Search <i class="fa fa-search "></i> </button>
                                        </div>
                                </div>
                        </form>
                </div>

</div>
<!-- search area end -->

<div style="background-color:#F1F1F1">


    <div class="container w-75">
        <div class="row">
            <div class="col-3 mt-4 ">
                <div class="card  left-filter">
                    <div class="card-body">
                        <!-- Job Category Listing start -->
                        <div class="job-category-listing mb-50">
                            <!-- single one -->
                            <div class="single-listing">
                                <div class="small-section-tittle2">
                                    <h4>Job Category</h4>
                                </div>
                                <!-- Select job items start -->
                                <div class="select-job-items2">
                                    <select class="form-control" name="select">
                                        <option value="">All Category</option>
                                        <option value="">Category 1</option>
                                        <option value="">Category 2</option>
                                        <option value="">Category 3</option>
                                        <option value="">Category 4</option>
                                    </select>
                                </div>
                                <!--  Select job items End-->
                                <!-- select-Categories start -->
                                <div class="select-Categories pt-80 pb-50">
                                    <div class="small-section-tittle2">
                                        <h4>Job Type</h4>
                                    </div>
                                    <label class="form-control" class="container">Full Time
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="form-control" class="container">Part Time
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="form-control" class="container">Remote
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="form-control" class="container">Freelance
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <!-- select-Categories End -->
                            </div>
                            <!-- single two -->
                            <div class="single-listing">
                                <div class="small-section-tittle2">
                                    <h4>Job Location</h4>
                                </div>
                                <!-- Select job items start -->
                                <div class="select-job-items2">
                                    <select class="form-control" name="select">
                                        <option value="">Anywhere</option>
                                        <option value="">Category 1</option>
                                        <option value="">Category 2</option>
                                        <option value="">Category 3</option>
                                        <option value="">Category 4</option>
                                    </select>
                                </div>
                                <!--  Select job items End-->
                                <!-- select-Categories start -->
                                <div class="select-Categories pt-80 pb-50">
                                    <div class="small-section-tittle2">
                                        <h4>Experience</h4>
                                    </div>
                                    <label class="form-control" class="container">1-2 Years
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="form-control" class="container">2-3 Years
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="form-control" class="container">3-6 Years
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="form-control" class="container">6-more..
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <!-- select-Categories End -->
                            </div>
                            <!-- single three -->
                            <div class="single-listing">
                                <!-- select-Categories start -->
                                <div class="select-Categories pb-50">
                                    <div class="small-section-tittle2">
                                        <h4>Posted Within</h4>
                                    </div>
                                    <label class="form-control" class="container">Any
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="form-control" class="container">Today
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="form-control" class="container">Last 2 days
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="form-control" class="container">Last 3 days
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="form-control" class="container">Last 5 days
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="form-control" class="container">Last 10 days
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <!-- select-Categories End -->
                            </div>

                        </div>
                        <!-- Job Category Listing End -->
                    </div>
                </div>
                </div>
                <div class="col-9 mt-4">
                    <p>{{all_jobs | length}} jobs found</p>
                        {% if all_jobs %}
                             {% for job in all_jobs %}
                                        <div class="card job-card mb-4 p-2" ><!-- one job card -->

                                <div class="card-body ">
                                   <div class="row">

                                            <div class="col-lg-4 col-md-12">
                                                <div class="card-left2 mt-1">
                                                    <h5>{{job.position}} </h5>
                                                    <p>{{job.company}} <br>
                                                    <i class="fa-solid fa-location-dot"></i> {{job.company.location}} </p>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6">
                                                     <div class=" right-details2 mt-4 text-secondary">
                                                            <p><i class=" fa-regular fa-clock"></i> {{job.job_type}} <br>
                                                                <i class="ms-1 fa-solid fa-money-bills"></i> {{job.min_salary}}-{{job.max_salary}} <br> </p>

                                                    </div>
                                            </div>




                                            <div class="col-lg-3 col-md-6 text-secondary mt-4">
                                                <p> <i class="ms-1 fa-solid fa-briefcase">  </i> {{ job.experience }} <br>
                                                <i class="ms-1 fa-solid fa-building"></i> {{job.work_type}}</p>
                                           </div>
                                           <div class="col-lg-2 col-md-6">
                                               {% if job.company.company_logo %}
                                                    <a href=""> <img class="mt-2 company_logo" width="80" src=" {{ job.company.company_logo.url }} " alt=""> </a>
                                               {% else %}
                                               {% endif %}

                                           </div>

                                   </div>
                                    <div class="row p-3">
                                       {{ job.job_description }}
                                    </div>
                                    <div style="display:flex;">

                                        {% for object in saved_job %}
                                        {% if job.position in object.job.position %}
                                        <a href="{%url 'unsave-job' job.id %}"><button class="ms-auto side-btn2 "> Unsave <i class="fa-regular fa-bookmark bookmark-icon"></i> </button></a>

                                        {% else %}
                                        <a href="{%url 'save-job' job.id %}"><button class="ms-auto side-btn2 "> Save <i class="fa-regular fa-bookmark bookmark-icon"></i> </button></a>

                                        {% endif %}
                                        {% endfor %}

                                         <button class="side-btn2 " onclick="window.location.href = '{%url 'job_detail' job.id %}';">
                                View <i class="fa-solid fa-angle-right"> </i></button>
                                    </div>
                                </div>
                            </div><!-- one job card end-->
                             {% endfor %}
                        {% else %}
                            <div class="text-center">
                                <h3>No Jobs Found! </h3>
                            </div>
                        {% endif %}


            </div>

        </div>
    </div>

</div>

{% endblock %}