{% load static %}

/* search bg */

.bg-overlay-text {
    min-height: 360px;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(72, 75, 255, 0.2), rgba(0, 0, 0, 0.7)), url('../images/about.jpg');

    background-position: center center; 
    background-size: cover;
}
.img-cap{
    color: white;
    font-size: 60px;
    margin-top:19%;
}
/* search bg- end */

.search-bg{
    /* height: 70px; */
    background-color: rgb(236, 236, 236);
}
.search-input{
    border-radius: 0%;
    height: 55px;
}
.search-btn-2{
    height: 55px;
    border-radius: 0%;
}
.side-btn2{
    width: 120px;
    height: 30px;
    background-color:#ffffff;
    border: .5px solid #356feb;
    border-radius:25px;
    color: #3596eb;
    margin-left: 30px;

}
.side-btn2:hover{
    width: 120px;
    height: 30px;
    background-color:#0275d8;
    border: none;
    border-radius:25px;
    color: white;

}
.bookmark-icon{
    margin-left: 10px;
}
.viewjob_link{
    all:unset;
    text-decoration:none;
    cursor:pointer
}

.right-details2,card-left2{
    line-height: 2em;
}

.job-card{
    background-color:
}
