{% extends 'common_html/base.html' %}

{% block content %}
{% load static %}
<div style="background-color:#F1F1F1">


    <div class="container" style="padding:100px;">
        <div class="row">
            <div class="card">
                {%for company in company_data%}
                 {%if company.company_logo %}
                <img src={{company.company_logo.url}} class="rounded mx-auto d-block" width="200" height="200"  alt="...">
                {%else%}
                <img src="{%static 'home/images/avatar.jpg' %}" class="rounded mx-auto d-block" width="150" height="150"
             alt="...">
                {%endif%}

                <div class="card-body">
                    <h2 class="card-title">{{company.company_name}}</h2>
                    <p class="card-text mt-4">{{company.company_description}}.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item mt-3 ">

                        <h5>Location:</h5>
                        {{company.location}}
                    </li>
                    <li class="list-group-item mt-3 ">
                        <h5>Industry:</h5>
                        {{company.industry}}
                    </li>
                    <li class="list-group-item mt-3 ">
                        <h5>Category</h5>
                        {{company.category}}
                    </li>
                    <li class="list-group-item mt-3 ">
                        <h5>Team Size:</h5>
                        {{company.team_size}}
                    </li>
                    <li class="list-group-item mt-3 ">
                        <h5>Founded:</h5>
                        {{company.founded}}
                    </li>
                    <li class="list-group-item mt-3 ">
                        <h5>Company Address:</h5>
                        {{company.company_address}}
                    </li>

                </ul>
                {% endfor %}
                <div class="card-body">
                    <button type="submit" class="card-link btn btn-danger ms-5 ps-5 mt-3 mb-3 pe-5 " onclick="history.back()">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}