{% extends 'common_html/base.html' %}
{% block content %}
{% load static %}
<div style="background-color:#e1eaf7">


<div class="container" style="padding:50px;">
    <div class="row">
        <div class="col-sm-5 text-center" style="margin-top:15%;">
            <h3>Welcome To Job Hub!</h3>
            <h3 style="color:#6c8eff"> Register Now To Simplify Your Next Great Hire.</h3>
            <img class="img-fluid" src="{% static 'home/images/company-reg.png' %}" alt="" width="500px;">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6 card border" style="border-radius:0%">
            <div class="card-body">
                <h4 class="mt-3 " style="text-align: center;" >Company/Employer</h4>
                <h5 class="text-center text-secondary">Registration & Streamline Your Hiring Process</h5>
                <hr>

                <form action="" method="post">
                {%csrf_token%}
                {{company_form.as_p}}
                {{company_user_form.as_p}}
                <div class="mb-3" style="text-align: center;">
                    <button type="submit" class="btn btn-danger form-control">Register</button>
                    <div class="mt-2">Already have a company account?
                        <a href="{% url 'company-login' %}"> Login</a>
                    </div>
                </div>
                </form>

            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}