{% extends 'common_html/base.html' %}

{%block content%}
<div style="background-color:#e1eaf7" >
<div class="row d-flex justify-content-center ">
    <div class="col-3 pt-5 mt-5 mb-5 pb-5">
        <div class="card">
            <h5 align="center" class="text-center text-secondary mt-4" >Change Password</h5>
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                     {{form.as_p}}
                    <div class="text-center">
                         <button type="submit" class=" btn btn-warning form-control" >Submit</button>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</div>
{%endblock%}