

{% extends 'common_html/base.html' %}

{%block content%}

<h1 align="center">Update Company Profile </h1>
<div class="row mt-lg-5">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <table>
             {{form.as_table}}
                </table>
            <input type="submit" class="card-link btn btn-success mt-5 mb-5 ps-4 pe-4 ">   <button type="submit" class="card-link btn btn-danger mt-5 mb-5 ms-5 ps-5 pe-4" onclick="history.back()">Back</button>
        </form>


    </div>
    <div class="col-4"></div>
</div>

{%endblock%}