{% load static %}

<!--  navbar-->
 <nav class="navbar navbar-dark navbar-expand-lg static-top "  style=" ">
    <div id="leftrightspace" class="container-fluid ">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img class="img-fluid"  width="200" src="{% static 'home/images/logo.png' %}" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item text-center">
            <a class="nav-link "  href="{% url 'home' %}">HOME</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="{% url 'jobs' %}">JOBS</a>
          </li>

            <li class="nav-item text-center">
            <a class="nav-link" href="{% url 'enquiry' %}">CONTACT US</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="{% url 'about_us' %}">ABOUT US</a>
          </li>


        </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav buttons-navbar mt-auto mb-auto ms-auto" >
                    <li class="nav-item">
                        <button class="btn btn-danger" onclick="location.href='{% url 'logout' %}'" >LOGOUT</button>
                    </li>
                    {% if user.role == 2 %}
                        <li class="nav-item">
                            <button style="border:2px solid #6c8eff" onclick="location.href='{% url 'myaccount' %}'" > My Account</button>
                        </li>
                    {% elif user.role == 1 %}
                        <li class="nav-item">
                            <button style="border:2px solid #6c8eff" onclick="location.href='{% url 'company-dash' %}'" > DASHBOARD</button>
                        </li>
                    {% endif %}
                </ul>
            {% else %}
              <ul class="navbar-nav buttons-navbar mt-auto mb-auto ms-auto" >
                <li class="nav-item">
                    <button style="border:2px solid #6c8eff" onclick="location.href='{% url 'login' %}'" >LOGIN</button>
                </li>
                <li class="nav-item">
                    <button style="border:2px solid #6c8eff" onclick="location.href='{% url 'userregister' %}'">REGISTER</button>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Employer
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="{% url 'company-login' %}">Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'company-register' %}">Register</a></li>
                  </ul>
                </li>


                </ul>
            {% endif %}

      </div>
    </div>
  </nav>

