{% extends 'common_html/base.html' %}
{%load static%}
{% block content %}

<!--<img src="{% static 'company/choose-bg.jpg' %}" alt=""-->
<!--     style="width:100%;object-fit: cover;height:650px;">-->

<div  style="background-color:#e6e6e6;

            background-image:url('{% static 'company/choose-bg.jpg' %}');
            background-size:cover;
            background-repeat:no-repeat">

        <div class="row  d-flex justify-content-center" style="display:block;">
                 <div class="col-sm-6 mt-5  " >
                    <h2 class="text-white text-center">CHOOSE SUBSCRIPTION PLAN </h2>
                    <p class="text-center text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus, deleniti dolor dolore doloribus dolorum ducimus et expedita,
                    hic maiores minima modi molestiae mollitia porro quaerat quam quis tempora, vero!</p>
                 </div>
        </div>

        <div class="row   d-flex justify-content-center" >
            {% if mem %}
            {% for membership in mem %}
                    <div class="col-lg-3" style="width:330px;">
                        <div class="card mt-2 mb-3  " style="border-radius:0%;">
                            <div class="card-body m-3">

                                <h3 style="color:#6c8eff" class="text-center text-info">{{membership.membership_days}} Days</h3>
                                <div class="" align="middle" style="border-bottom:2px solid grey;" ></div>
                                <h2 class="text-center mt-3">{{membership.price}}₹</h2>
                                <p class="text-center">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit dolor sit amet, consectetur adipisicing
                                </p>
                                <p class=""> Features <i class="fa-regular fa-circle-check"></i></p>
                                <ul>
                                    <li class="nav-item"> <i class="fa-regular fa-circle-check"></i>consectetur</li>
                                    <li class="nav-item"> <i class="fa-regular fa-circle-check"></i>adipisicing</li>
                                    <li class="nav-item"> <i class="fa-regular fa-circle-check"></i>adipisicing</li>

                                </ul>

                                {% if is_subscribed %}
                                    <button style="border-radius:0%"  class= "btn btn-outline-info form-control" onclick="subscribe({{membership.id}})" disabled > SELECT PLAN</button>
                                {% else %}
                                <p></p>
                                    <button style="border-radius:0%" class= "btn btn-outline-info form-control" onclick="subscribe({{membership.id}})" > SELECT PLAN</button>
                                {% endif %}
                            </div>
                        </div>

                    </div>

            {% endfor %}
{% if is_subscribed %}<h5 class="text-center text-danger" ><i class="fa-solid fa-circle-info"></i> Your Subscription is Already Active. </h5>{% endif %}

            {% else %}
                    <div class="col-sm-5 col-md-3 col-l-3" >
                        <div class="card mt-2 mb-4" style="border-radius:0%;width:300px;">
                            <div class="card-body m-3">

                                <h6 class="text-center text-danger">No Plans Available Now</h6>
                                <p class="text-center">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis consectetur cum distinctio,
                                    minus natus neque non optio quibusdam quidem quos reprehenderit, repudiandae tempore tenetur veniam
                                </p>

                                <p class="text-center">contact <a href="">support@jobhub.com</a> </p>

                            </div>
                        </div>

                    </div>
            {% endif %}

        </div>
</div>


     <script src="https://js.stripe.com/v3/"></script>

     <script type="text/javascript">

        var stripe = Stripe('pk_test_51LsNhRSBeZkgYlGWZeVlpGmXC9g1VW7cQ5pgyIgODPMzEcj98MKLTxDDBjc2npuWJlq2Xj6xvg5e9Z5YVQXrzowi00JNPTx9U6');

        function subscribe(id){
        console.log("clicked")
        console.log(id)
        data = JSON.stringify({
                id : id
                })
        fetch('{% url 'checkout' %}', {
                                            method: 'POST',
                                            body: data
                                            })
                                            .then(function(response) {
                                              return response.json();
                                            })
                                                .then(function(session) {
                                                  return stripe.redirectToCheckout({ sessionId: session.id });
                                                })
                                                    .then(function(result) {

                                                      if (result.error) {
                                                        alert(result.error.message);
                                                      }
                                                    })
                                                        .catch(function(error) {
                                                          console.error('Error:', error);
                                                        });
        };
    </script>


{% endblock %}
