{% extends 'common_html/base.html' %}

{% block content %}

    <div style="z-index: -20;">
        <div style="background-color:#ddfae0;height:250px" ></div>
    </div>


    <div class="conatiner" style="margin-top: -100px;" >
        <div class="row d-flex justify-content-center">
            <div class="col-5">
                <div class="card" style="border-radius:0%;box-shadow: 2px 3px 30px rgb(7, 7, 7,.3);border:2px  solid rgb(3, 134, 3,.5)">
                    <div class="card-body d-flex justify-content-center">
                        <div class="p-4">
                            <h3 class="text-center">Payment Successfull !</h3>
                            <h1 class="text-success text-center" style="font-size:100px;display:block"> <i class="fa-solid fa-circle-check"></i></h1>

                            <table class="table table-borderless">

                                <tbody>
                                  <tr class="col-6 ">
                                    <th >Payment Id</th>
                                    <td>{{payment.payment_id}}</td>

                                  </tr>
                                  <tr class="col-6 ">
                                    <th >Payment status</th>
                                    <td>{{payment.status}}</td>

                                  </tr>
                                  <tr class="col-6 ">
                                    <th >Payment Date</th>
                                    <td>{{payment.created_at}}</td>

                                  </tr>
                                  <tr class="col-6 ">
                                    <th >Amount</th>
                                    <td>{{payment.amount_paid}}/-</td>

                                  </tr>
                                  <tr class="col-6 ">
                                    <th >Company</th>
                                    <td>{{payment.company}}</td>

                                  </tr>
                                  <tr class="col-6 ">
                                    <th >Email</th>
                                    <td>{{ request.user.email }}</td>

                                  </tr>

                                </tbody>
                              </table>

                              <div class="text-center mt-5">
                                    <button onclick="location.href='{% url 'company-dash' %}';" class="btn btn-warning ">Go To Dashboard</button>
                              </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}