{% extends 'common_html/base.html' %}

{% block content %}
<div style="background-color:#F1F1F1">


    <div class="container" style="padding:100px;">
        <div class="row ">
            <div class="col-3"></div>
            <div class="col-6 card border">
                <div class="card-body">
                    <h2>My Profile</h2>
                    <form action="" class="mt-5" method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                        <table>
                            {{lat_education_form.as_table}}
                            {{candidate_profile_form.as_table}}
                            {{experience_form.as_table}}
                            {{skill_form.as_table}}

                        </table>

                        <div class="mb-3 mt-3">
                            <button type="submit" class="btn btn-info form-control">Add</button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>

{% endblock %}