{% extends 'common_html/base.html' %}
{% load static %}
{% load formset_tags %}

{% block content %}
<div style="background-color:#F1F1F1">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 card">
                <div class="card-body">
                    <h3 class="card-title mb-5 mt-3 p-3 bg-info text-dark" align="center">My Profile</h3>
                    <form id="form-container" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div id="candidate_formset" data-formset-prefix="{{ candidate_formset.prefix }}">
                            {{ candidate_formset.management_form }}
                            <div data-formset-body>
                                <!-- New forms will be inserted in here -->
                                {% for form in candidate_formset %}
                                <div data-formset-form>
                                    <table>
                                        <h6 class="card-subtitle mb-5 text-muted">Basic Info</h6>

                                        {{ form }}
                                    </table>
                                </div>

                                {% endfor %}
                            </div>

                        </div>

                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-success mt-4 mb-5 " type="submit">SUBMIT</button>
                        </div>
                           <div class="card-body mt-5">
                    <a href="{%url 'myaccount'%}" class="card-link btn btn-danger">Back</a>
                </div>

                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}