{% extends 'common_html/base.html' %}
{% load static %}
{% load formset_tags %}

{% block content %}
<div style="background-color:#F1F1F1">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 card mt-4 mb-4">
                <div class="card-body">
                    <h2 class="card-title" align="center">Update Profile</h2>
                    <hr class="mb-4">
                    <form id="form-container" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div id="candidate_formset" data-formset-prefix="{{ candidate_formset.prefix }}">
                            {{ candidate_formset.management_form }}
                            <div data-formset-body>
                                <!-- New forms will be inserted in here -->
                                {% for form in candidate_formset  %}
                                 {% if forloop.counter < 2 %}
                                <div data-formset-form>
                                    <table>
                                        {{ form }}
                                    </table>
                                </div>
                            {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                        <div class="card-body mt-3">
                            <a href="{%url 'myaccount'%}" class="card-link btn btn-danger">Back</a>
                            <button class="btn btn-success" type="submit">SUBMIT</button>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-3"></div>
            </div>
        </div>
</div>

{% endblock %}