{% extends 'common_html/base.html' %}
{%load static%}
{% block content %}

<style type="text/css">
.sidebar{height:500px;}
.sidebar a {height:70px;display:block;padding:6px; color:white;;font-size:20px;border-bottom:2px solid white;}
.sidebar a:hover{color:rgb(255, 255, 255);height:70px;}
</style>


<div class="container w-100">
    <div class="row">
        <div class="col-3" style="background-color:#6c8eff;">


            <div class="sidebar text-center">


                {% if request.user.profile %}

                    <a href="{%url 'view_candidate' request.user.profile.slug %}" class="btn form-control mt-2 mb-2">My Profile</a>

                    <a href="{%url 'profile_update' request.user.profile.slug %}" class="btn form-control mt-2 mb-2">Edit Profile</a>

                {% else %}
                    <a href="{%url 'add_candidate' %}" class="btn form-control mt-2 mb-2">Add Profile</a>
                {% endif %}

                <a href="#" class="btn form-control mt-2 mb-2">My Applications</a>
                <a href="{%url 'saved-job' %}" class="btn form-control mt-2 mb-2">Saved Jobs</a>
                <a href="{%url 'password_change'%}" class="btn form-control mt-2 mb-2">Change Password</a>
            </div>

        </div>

<div class="col-9">
     <form action="" method="POST">
                {% csrf_token %}
                <div class="col-sm-4 mt-5 text-center">
                    <img src="{%static 'home/images/userprofile.png'%}" width="100px" height="100px">
                </div>
         <h1>Welcome {{user.username}}</h1>
            </form>
        </div>
        </div>
</div>

{% endblock %}