{% extends 'common_html/base.html' %}
{%load static%}
{% block content %}

<style type="text/css">
.sidebar{ height:500px;
          }
.sidebar a { height:70px;
            line-height:70px;

            background-color: #6c8eff;
            color:white;
            text-align:center;
            font-size:18px;
            border-radius:0%;
            text-decoration:none;
            }
.sidebar a:hover{
    background-color:white ;
    color:#6c8eff;
}


</style>


<div class=" w-100 pt-1" style="background-color:#f2f2f2">
    <div class="row">
        <div class="col-sm-2 mb-1" style="background-color:#6c8eff;">


            <div class="sidebar text-center ">


                {% if request.user.profile %}

                    <a href="{%url 'view_candidate' request.user.profile.slug %}" class=" form-control mt-2 mb-2">PROFILE</a>

                    <a href="{%url 'profile_update' request.user.profile.slug %}" class=" form-control mt-2 mb-2">EDIT PROFILE</a>

                {% else %}
                    <a href="{%url 'add_candidate' %}" class=" form-control mt-2 mb-2">ADD PROFILE</a>
                {% endif %}

                <a href="{% url 'applied-job' %}" class=" form-control mt-2 mb-2">MY APPLICATIONS</a>
                <a href="{%url 'saved-job' %}" class=" form-control mt-2 mb-2">SAVED JOBS</a>
                <a href="{%url 'password_change'%}" class="form-control mt-2 mb-2">CHANGE PASSWORD</a>
            </div>

        </div>

<div class="col-sm-9" >

        <h2 class="text-secondary" > DASHBOARD </h2>
    <hr>
    <p align="right">Welcome {{user.username}} !</p>
    <div class="row f-flex justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing vero.</h4>
                    <p>elit. Accusantium aut consequuntur corporis, culpa dolorum eveniet
                        id illum in magnam magni maiores minus quas quisquam quos reprehenderit
                        repudiandae saepe tenetur </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing vero.</h4>
                    <p>elit. Accusantium aut consequuntur corporis, culpa dolorum eveniet
                        id illum in magnam magni maiores minus quas quisquam quos reprehenderit
                        repudiandae saepe tenetur </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>

    </div>


        </div>
        </div>
</div>

{% endblock %}